<!DOCTYPE html>
<html  lang="en" xmlns:th= "http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/main.css}" type="text/css"/>
    <title>Todo App</title>
</head>
<body>
<div class="contact-us">
    <h1>Mini Todo App</h1>
    <br>
    <form method="post"
          th:action="@{/todo/saveUpdate}"
          th:object="${updateTask}">

        <input type="hidden" th:field="*{id}"  th:value="${updateTask.id}" id="id" />
        <input id="description" placeholder="description" th:field="*{description}" th:value="${updateTask.description}" type="text" minlength="5" maxlength="200" required/>
        <input id ="date" th:field= "*{date}" placeholder="Finish Date" th:value="${updateTask.date}" type="date" min="2019-12-12" required/>
        <button type="submit">SAVE TASK</button>
    </form>
    <br>
    <form method="get"
          th:action="@{/todo/backHome}">
        <button type="submit">BACK</button>
    </form>

</div>
</body>
</html>